<h2>Edit book: @Model["book"].Title</h2>

<form action="/books/@Model["book"].Id" method="post">
  <label for="newTitle">New Title:</label>
  <input type="text" name="newTitle" value="@Model["book"].Title">
  <button type="submit">Edit</button>
</form>

<h4><a href="/books/@Model["book"].Id">Return to previous page</a></h4>
