<h1>Add a new book.</h1>

<form action='/books/new' method='post'>

  <label for='bookTitle'>Book Title</label>
  <input id='bookTitle' name='bookTitle' type='text'>

  <button type='submit'>Add book</button>
</form>
