<h3>Here are all the books in this author:</h3>

<ol>
@foreach (var book in @Model["books"])
{
  <li><a href='/authors/@Model["author"].Id/books/@book.Id'>@book.Name</a></li>
}
</ol>

@* <p><a href='/authors/@Model["author"].Id/books/new'>Add a new book</a></p> *@
<p><a href='/authors'>Return to author list</a></p>
<p><a href='/'>Return to Main Page</a></p>
