<h1>WELCOME TO THE LIBRARIAN ZONE!</h1>
<h3><a href='/copies/new.cshtml'>Add a book!</a></h3>

<h3><a href='/copies/show.cshtml'>View book catalog!</a></h3>

<h3><a href='/authors/new.cshtml'>Add a author!</a></h3>

<h3><a href='/authors/show.cshtml'>View all authors!</a></h3>

<h3><a href='/'>Return home!</a></h3>
